@import "styles/config.scss";

.instanceRecords {
  margin: 0;
  display: block;
  list-style: none;
  overflow-x: scroll;
  padding: 2px;
  background-color: $config-menu-background-color;

  li {
    width: auto;
    display: flex;

    input {
      border-radius: 0;
      border: none;
      border-left: solid rgba(0, 0, 0, 0.4) 1px;
      border-right: solid rgba(0, 0, 0, 0.4) 1px;
    }
  }
}

.headerCell {
  padding: 2px 8px 4px 8px;
  text-align: center;
  border-left: solid rgba(0, 0, 0, 0.4) 1px;
  border-right: solid rgba(0, 0, 0, 0.4) 1px;
  background-color: $config-label-color;
  color: $config-font-color;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
