@import '../config.scss';

.QrGenerator {
  height: 100%;
  min-width: 100%;
  overflow: hidden;
  .qr-li {
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 3px;
    margin: 2px;
    .canvas-li {
      display: flex;
      align-items: center;
      .qr-canvas {
        margin-left: 15px;
        background-color: $config-menu-background-color;
        width: 116px;
        height: 116px;
      }
    }
  }
}
