@import '../config.scss';

.ImageGenerator {
  height: 100%;
  min-width: 100%;
  overflow: hidden;
  .canvas {
    // widthやheightで指定すると描画の比率がおかしくなるので注意
    background-color: rgb(255, 255, 255);
    margin: 5px;
  }
  .param {
    display: block;
    margin: 5px;
  }
}
