@import '../config.scss';

.ImageGenerator {
  height: 100%;
  min-width: 100%;
  overflow: hidden;
  .paras-container {
    display: flex;
  }
  .canvas {
    // canvasはstyleのwidthやheightで指定すると
    // 中身の比率がおかしくなるので注意
    background-color: rgb(255, 255, 255);
    margin: 5px;
  }
}
