@import '../config.scss';

.ImageGenerator {
  height: 100%;
  min-width: 100%;
  overflow: hidden;
  .canvasLabel {
    margin: 0 0 10px 0;
    display: block;
  }
  .canvas {
    // canvasはstyleのwidthやheightで指定すると
    // 中身の比率がおかしくなるので注意
    background-color: rgb(255, 255, 255);
    margin: 5px;
  }
}
