@import '../config.scss';

.NameGenerator {
  height: 100%;
  min-width: 100%;
  overflow: hidden;
  .instance-records {
    display: block;
    list-style: none;
    overflow-x: scroll;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    max-width: 1200px;
    li {
      width: auto;
      display: inline-block;
    }
  }
}
