@import '../config.scss';

.UserGenerator {
  height: 100%;
  min-width: 100%;
  overflow: hidden;
  .instance-records {
    display: block;
    list-style: none;
    overflow-x: scroll;
    padding: 2px;
    background-color: $config-menu-background-color;
    li {
      width: auto;
      display: inline-block;
    }
  }
}
