@import '../config.scss';

.Menu {
  position: fixed;
  top: 0;
  left: 0;
  color: $config-font-color;
  background-color: #282c34;
  height: 100vh;
  overflow: hidden;
  width: $config-menu-width;
  h1 {
    margin: 10px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: 10px;
      background-color: #282c34;
      transition: .2s;
      a {
        text-decoration: none;
        color: $config-font-color;
      }
      &:hover {
        background-color: #6a768d;
      }
    }
  }
}