@import "../config.scss";

.Menu {
  top: 0;
  left: 0;
  color: $config-font-color;
  background-color: #282c34;
  display: block;
  height: 100vh;
  overflow: hidden;
  width: $config-menu-width;
  h1 {
    margin: 10px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      background-color: #282c34;
      transition: 0.2s;
      .link {
        padding: 10px;
        text-decoration: none;
        color: $config-font-color;
        display: inline-block;
        width: 100%;
        height: 100%;
      }
      &:hover {
        background-color: #6a768d;
      }
    }
  }
}

// スマホの時用オーバーライド
@media only screen and (max-width: 480px) {
  .Menu {
    width: 100%;
    height: 100%;
  }
}
