@import "../config.scss";

.site-name {
  color: $config-link-color;
}

.Menu {
  top: 0;
  left: 0;
  color: $config-font-color;
  background-color: #282c34;
  display: block;
  height: 100vh;
  overflow: hidden;
  width: $config-menu-width;
  h1 {
    margin: 10px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      background-color: #282c34;
      position: relative;
      .link {
        padding: 10px;
        text-decoration: none;
        color: $config-font-color;
        display: inline-block;
        width: 100%;
        height: 100%;
      }
      &::before {
        content: "";
        pointer-events: none;
        transition: all 0.2s;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(80, 249, 255, 0.4);
        z-index: 1;
        transform: scale(1, 0);
        box-shadow: 0px 6px 20px 0px rgba(80, 249, 255, 0.2);
      }
      &:hover::before {
        transform: scale(1, 1);
      }
    }
  }
}

// スマホの時用オーバーライド
@media only screen and (max-width: 480px) {
  .Menu {
    width: 100%;
    height: 100%;
  }
}
