@import "../config.scss";

.Menu {
  top: 0;
  left: 0;
  color: $config-font-color;
  background-color: $config-menu-background-color;
  display: block;
  position: sticky;
  height: 100vh;
  overflow: hidden;
  min-width: $config-menu-width;

  a {
    text-decoration: none;

    .title-container {
      display: flex;

      .site-name {
        color: $config-link-color;
        margin: 18px 0 10px 0;
      }

      .logo {
        width: 50px;
        height: 50px;
        margin-top: 10px;
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      background-color: #282c34;
      position: relative;

      .link {
        font-size: 0.9em;
        padding: 10px;
        text-decoration: none;
        color: $config-font-color;
        display: inline-block;
        width: 100%;
        height: 100%;

        .icon {
          margin-right: 5px;
          opacity: 0.3;
          width: 1em;
        }
      }

      &::before {
        content: "";
        pointer-events: none;
        transition: all 0.1s, transform 0.2s;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $config-button-accent-color;
        opacity: 0.4;
        z-index: 1;
        transform: scale(1, 0);
        box-shadow: 0 6px 15px 0 $config-button-accent-color;
      }

      &:hover::before {
        transform: scale(1, 1);
      }

      &:active::before {
        background-color: $config-button-clicked-color;
        box-shadow: 0 3px 20px 0 $config-button-clicked-color;
        opacity: 0.7;
      }
    }
  }

  .github-link {
    position: absolute;
    width: 100px;
    margin: 10px;
    bottom: 0;
    font-size: 24px;

    a {
      color: white;
    }
  }
}

// スマホの時用オーバーライド
@media only screen and (max-width: 480px) {
  .Menu {
    width: 100%;
    height: 100%;
  }
}
