@import "./config.scss";

.Menu {
  z-index: 100;
}

.App {
  display: flex;
  background-color: $config-menu-background-color;

  a {
    color: $config-link-color;
  }
}

.App-container {
  width: calc(100% - #{$config-menu-width});
  background-color: $config-background-color;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: $config-font-color;
  padding: 20px;
  box-sizing: border-box;
  z-index: 0;
}

// スマホ対応
@media only screen and (max-width: 480px) {
  .App {
    flex-direction: column;
  }

  .App-container {
    width: 100%;
  }
}
