@import './config.scss';

.Menu {
  z-index: 100;
}

.App-container {
  left: $config-menu-width;
  position: absolute;
  width: calc(100% - #{$config-menu-width});
  background-color: #3b414d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: $config-font-color;
  padding: 20px;
  box-sizing: border-box;
  z-index: 0;
}
