$config-menu-width: 180px;
$config-menu-background-color: #282c34;
$config-font-color: white;
$config-link-color: #3de8ff;
$config-button-color: #1a1d22;
$config-button-accent-color: #3dfff5;
$config-background-color: #3b414d;
