@import '../config.scss';

.page-title {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding-left: 10px;
  padding-bottom: 10px;
}

.testaro-button {
  min-height: 40px;
  min-width: 120px;
  color: $config-font-color;
  background-color: $config-button-color;
  border: 2px $config-font-color solid;
  box-sizing: border-box;
  border-radius: 5px;
  transition: .2s;
  &:hover {
    background-color: $config-button-hover-color;
    border-width: 5px;
  }
}
