@import "styles/config.scss";

.page {
  height: 100%;
  min-width: 100%;
  overflow: hidden;

  .qrList {
    box-sizing: border-box;
    padding: 3px;
    margin: 2px;

    .canvasList {
      display: flex;
      align-items: center;

      input {
        border-bottom: solid rgba(255, 255, 255, 0.4) 2px;
        border-radius: 0;
        padding: 0;
      }

      button {
        width: 2em;
        height: 2em;
      }

      .qrCanvas {
        margin-left: 15px;
        background-color: $config-menu-background-color;
        width: 116px;
        height: 116px;
      }
    }
  }
}
