$config-menu-width: 180px;
$config-menu-background-color: #282c34;
$config-accent-color: #3de8ff;
$config-font-color: white;
$config-link-color: #3de8ff;
$config-button-color: #1a1d22;
$config-button-accent-color: #61edff;
$config-button-clicked-color: #ffd726;
$config-checkbox-color: #0669d4;
$config-background-color: #3b414d;
$config-disabled-form-color: rgba(0, 0, 0, 0.1);
$config-enabled-form-color: rgba(0, 0, 0, 0.5);
