@import "styles/config.scss";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");

body {
  margin: 0;
  font-family: "M PLUS Rounded 1c", "Kosugi Maru", "Noto Sans JP", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
textarea,
select {
  background-color: rgba(0, 0, 0, 0.3);
  color: $config-font-color;
  border: none;
  border-collapse: collapse;
  padding: 0 8px 0 8px;
  height: 24px;
  outline: none;

  option {
    background-color: $config-button-color;
    color: $config-font-color;
  }
}
